@{
    ViewBag.Title = "Contact";
}


<address>
    Francisco Javier Diaz Urias<br />
    <br />
    <abbr title="Phone">Telefono:</abbr>
    123343
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Francisco.Diaz@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Francisco.Diaz.Marketing@example.com</a>
</address>