@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Catalogo de video juegos</h1>
    <p class="lead">En esta pagina se recopilan informacion de titulos de video juegos en cual se podra ver el nombre, director, clasificacion etc.</p>
    
</div>

